.jsModal {
	position: absolute;
	z-index: 99999;
	background-color: white;
	padding: 25px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #CCC;
	max-width: 500px;
	max-height: 350px;
}

.jsModal-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: white;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* IE 5-7 */
	filter: alpha(opacity=50);

	/* Netscape */
	-moz-opacity: 0.5;

	/* Safari 1.x */
	-khtml-opacity: 0.5;

	/* Good browsers */
	opacity: 0.5;	
}